/* When print dialogue is open, hide the URLs displayed next to links */
@media print {
  a[href]::after {
    content: none !important;
  }
}

h3 {
  margin-top: 40px;
}

.box { 
  overflow-x: scroll;
}

.column-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column-flexbox-picture {
  width: 400px;
  margin-left: 20px;
}

.col-sm-8 {
  max-width: 800px;
}

.important-text-green {
  background-color: #81ca9c;
}

.important-text-red {
  background-color: #CD5C5C;
}

.important-text-yellow {
  background-color: #fff;
}

.important-text-blue {
  color: #2C4894;
}

.legend .legend-scale ul {
  padding: 0;
  display: inline;
}

.legend .legend-scale ul li, .legend .legend-scale ul li div {
  font-size: 16px;
  list-style: none;
  margin-left: 0;
  line-height: 24px;
  margin-bottom: 6px;
}

.legend .legend-labels li span:not(.normal), .color-box {
  display: block;
  float: left;
  height: 24px;
  width: 40px;
  margin-right: 10px;
  margin-left: 0;
  border: 1px solid #999;
  border-radius: 3px;
}

.legend .legend-labels li div {
  display: block;
  margin-inline-start: 50px;
  font-size: 12px;
  line-height: 18px;
}

.sidebar {
  color: #000;
}

.skin-black .main-sidebar { 
  background-color: #f5f5f5 !important; 
}

.legend-sidebar li {
  color: #000 !important;
}

.sidebar-button {
  width: 90%;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #dddddd;
}

.tab-hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 2px solid #cccccc;
}

.tab-vertical-buffer {
  min-height: 60px;
}

#hist-table_history_fmv_ref .dataTables_scrollHead {
  overflow: visible !important;
}

.popover {
  color: black;
}

.popover-icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .dataTables_scrollHead .popover-icon {
    display: none;
  }
}

.comps-description {
  font-size: 16px;
  line-height: 24px;
}

#tabs_comps {
  font-size: 16px;
}

#tabs_comps li a {
  padding: 10px 30px;
}

.panel .panel-heading .panel-title a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}

.panel .panel-heading .panel-title a:hover {
  text-decoration: none;
<<<<<<< www/style.css
  background-color: #ccc;
  left: 5px;
  top: 5px;
  border-radius: 20%;
}

/* override */
.shiny-input-container:not(.shiny-input-container-inline) {
  width:  100% !important;
}

.reass-tracker {
  font-size: 10px;
  display: inline;
  border-radius: 10%;
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

.content-wrapper { 
  background-color: #fff; 
}
=======
}

.reass-tracker span {
  font-size: 10px;
  display: inline;
}
>>>>>>> www/style.css
